* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

/* search button */
.search-button {
    background-color: #0099ff;
    color: white;
    width: 100%;
}

.search-button:hover {
    background-color: #0099ff;
}

.input-group {
    flex-direction: column;
    gap: 1rem;
}

/* history section */
#history {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.history-btn {
    background-color: darkgray;
}

/* current weather sections */
#today {
    padding: 10px;
    color: white;
}

/* five-day forecast section */
.forecast-container {
    display: flex;
    gap: 10px;
}

.future-day {
    background-color: #213e4e;
    color: white;
    width: 20%;
    padding: 10px;
}

.future-day p:first-child {
    font-weight: bold;
}
